

<div class="container marketing">
  <div>
    <h2 class="center">Nos produits </h2>
    <%= image_tag "ligne1.png", class:"ligneimage"%>
  </div>





  <div class="row">
    <%# debut de l'article %>
    <% @article.each do |article|%>
    <%# lien modal %>
    <%if current_manager %>
    <div class="col-lg-4">
      <%= link_to home_path(article.id), remote: true do %>
      <% if article.picture.attached? %>
      <%= image_tag (article.picture), class:"rounded-circle tailimgmanager"%>
      <%else%>
      <%= image_tag (article.image_url), class:"rounded-circle tailimgmanager" %>
      <%end%>
      <%end%>

      <h2><%= article.title %></h2>
      <%= article.id%>
      <!-- <div class="taildiv">
              <p class="tailsp"><%= article.description%></p>
              </div> -->
      <a href="articles/<%=article.id%>/edit"> <i class="far fa-edit"></i></a>
      <a href="articles/<%=article.id%>" data-method="delete" , data-confirm="are you sur?"><i
          class="far fa-trash-alt"></i></a>
      <a href="articles/<%=article.id%>"> <i class="far fa-eye"></i></i></a>
      <a href="<%= article_comments_path(article)%>">
        <p>(<%= pluralize(article.comments.count, "Avi") %>)</p>
      </a>
    </div>
    <% else %>
    <div class="col-sm-4 spacemarg">
      <div class="containere">
        <a href="articles/<%=article.id%>">
          <% if article.picture.attached? %>
          <%= image_tag (article.picture), class:"tail"%>
          <%else%>
          <%= image_tag (article.image_url), class:"tail" %>
          <%end%>
        </a>
        <div class="cont">
          <p class="center"><%= article.title %></p>
          <div class="overlay">
            <div class="text">
              <div class="taildiv tailsp">
                <% link_to home_path(article.id), remote: true do %>
                <i class="far fa-plus-square  iconcolor"></i>
                <%end%>
              </div>
              <%= link_to home_path(article.id), remote: true do %>
              <p class="btn btn-success btnvert">Acheter</p>
              <%end%>

            </div>
          </div>
        </div>
        <div>
          <p class="center topavis">

            <span class="noteavis">
              <%if article.comments.blank?%>
              <%= average_comment = 0%>
              <%else%>
              <%= average_comment = article.comments.average(:rating).round(2)%>
              <%end%>
            </span>
            <span style="color: rgb(239, 184, 3);">
              <i class="fas fa-star"></i>
            </span>

            (<a href="<%= article_comments_path(article)%>" , class="coloravis">
              <%= pluralize(article.comments.count, "Avi") %>
            </a>)
          </p>
        </div>
      </div>
    </div>
    <%end%>
    <%end%>
  </div>
</div>
<div id='post-content'></div>