<%= form_with(model: @user) do |form| %>

<div class="field">
  <%= form.label :username %>
  <%= form.text_field :username %>
</div>

<div class="field">
  <%= form.label :first_name %>
  <%= form.text_field :first_name %>
</div>

<div class="field">
  <%= form.label :last_name %>
  <%= form.text_field :last_name %>
</div>

<div class="field">
  <%= form.label :adress %>
  <%= form.text_field :adress %>
</div>

<div class="actions">
  <%= form.submit %>
</div>
<%end%>