
  <div id="home-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">titre <%=@articl.id%></h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
          <%@produit.each do |produit|%>
            <div class="modal-body">
              <h5><%= produit.type.content%></h5>
              <div class="promodal">
                <div class="imgcontent">
                    <%=image_tag (@articl.image_url), class:"modalimg"%>
                </div>
                <div>
                <p class="listprod"><%=produit.id%></p>
                  <p class="listprod">★★★★☆ (<span class="avis">2</span>) </p>
                  <p class="listprod"><%=produit.article.title%></p>
                  <%if produit.type.content == "Vrac" %>
                  <p class="listprod"><%= produit.price%> euros/kg</p>
                  <%else%>
                  <p class="listprod"><%= produit.price%> euros/unité</p>
                  <%end%>

                  <%if  produit.disponibility == true %>
                  <p class="listprod listcol">Disponible immédiatement </p>
                  <%else%>
                  <p class="listprod listcol">Non disponible pour le moment </p>
                  <%end%>
                </div>
                <!-- <%= button_to "add", line_items_path(product_id: produit.id), class:"btn btn-primary"%> -->
                <%= button_to line_items_path(product_id: produit.id),class:"btn btn-outline-primary" do %>
                <i class="fas fa-shopping-basket"></i>
                <% end %>
                    <%= button_to "aller", type_path(produit.type.id),class:"btn btn-outline-primary", method: :get  %>
                <% if current_manager %>
                  <%= link_to 'Edit', edit_product_path(produit.id) %>
                <% end %>
              </div>
                <div>
                  <hr>
                </div>
            </div>
          <%end%>  
        </div>
      </div>
    </div>
  </div>
