



<main role="main">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!-- <img class="first-slide"
          src="assets/images/fonde.jpg" alt="First slide"> -->
          <%= image_tag ("fond1.jpg"), class:"first-slide"%>
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>Example headline.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
              metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!-- <img class="second-slide"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide"> -->
          <%= image_tag ("fond4.jpg"), class:"second-slide"%>
        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
              metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!-- <img class="third-slide"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide"> -->
          <%= image_tag ("fond.jpg"), class:"third-slide"%>
        <div class="container">
          <div class="carousel-caption text-right">
            <h1>One more for good measure.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
              metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


<!-- services -->
<section class="features-section overflow-hidden section-service">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 margin-b-30">
        <div class="feature-box-center text-center">
          <i class="fas fa-truck sizeicon"></i>
          <h4 class="text-capitalize">Livraison rapide </h4>
          <p>
            
          </p>
        </div>
      </div>
      <!--/col-->
      <div class="col-md-6 col-lg-3  margin-b-30">
        <div class="feature-box-center text-center">
          <i class="fas fa-credit-card sizeicon"></i>
          <i class="fas fa-shield-alt"></i>
          <h4 class="text-capitalize">Paiement sécurisé</h4>
          <p>
            
          </p>
        </div>
      </div>
      <!--/col-->
      <div class="col-md-6 col-lg-3  margin-b-30">
        <div class="feature-box-center text-center">
        <i class="fas fa-phone-volume sizeicon"></i>
          <h4 class="text-capitalize">service client</h4>
          <p>
            
          </p>
        </div>
      </div>
      <!--/col-->
      <div class="col-md-6 col-lg-3 margin-b-30">
        <div class="feature-box-center text-center">
          <i class="fas fa-hand-holding-usd sizeicon"></i>
          <h4 class="text-capitalize">Produit sélectionné</h4>
          <p>
            
          </p>
        </div>
      </div>
      <!--/col-->
    </div>
  </div>
</section>
<!--end features section-->


<div class="container">
  <div class="container marketing">
    <div>
      <h2 class="center">Nos produits </h2>
      <%= image_tag "ligne1.png", class:"ligneimage"%>
    </div>
    
    
    <div class="row">
      <%# debut de l'article %>
      <% @articles.each do |article|%>
            <%# lien modal %>
        <%if current_manager %>
          <div class="col-lg-4">
            <%= link_to home_path(article.id), remote: true do %>
              <% if article.picture.attached? %>
                <%= image_tag (article.picture), class:"rounded-circle tailimgmanager"%>
              <%else%>
                <%= image_tag (article.image_url), class:"rounded-circle tailimgmanager" %>
              <%end%>
            <%end%>

              <h2><%= article.title %></h2>
              <%= article.id%>
              <!-- <div class="taildiv">
              <p class="tailsp"><%= article.description%></p>
              </div> -->
                <a href="articles/<%=article.id%>/edit"> <i class="far fa-edit"></i></a>
                <a href="articles/<%=article.id%>" data-method="delete", data-confirm="are you sur?"><i class="far fa-trash-alt"></i></a>
                <a href="articles/<%=article.id%>"> <i class="far fa-eye"></i></i></a>
                <a href="<%= article_comments_path(article)%>">
              <p>(<%= pluralize(article.comments.count, "Avi") %>)</p>
                </a>
          </div>
        <% else %>
          <div class="col-sm-4 spacemarg">
            <div class="containere">
               <a href="articles/<%=article.id%>">
              <% if article.picture.attached? %>
              <%= image_tag (article.picture), class:"tail"%>
              <%else%>
              <%= image_tag (article.image_url), class:"tail" %>
              <%end%>
              </a>
              <div class="cont">
                <p class="center"><%= article.title %></p>
                <div class="overlay">
                  <div class="text">
                    <div class="taildiv tailsp">
                      <% link_to home_path(article.id), remote: true do %>
                      <i class="far fa-plus-square  iconcolor"></i>
                      <%end%>
                    </div>
                    <%= link_to home_path(article.id), remote: true do %>
                   <p class="btn btn-success">Acheter</p>
                    <%end%>
                    
                  </div>
                </div>
              </div>
              <div>
                 <p class="center topavis">

                <span class="noteavis">
                 <%if article.comments.blank?%>
                 <%= average_comment = 0%>
                 <%else%>
                 <%= average_comment = article.comments.average(:rating).round(2)%>
                 <%end%>
                 </span>
                 <span style="color: rgb(239, 184, 3);">
                   <i class="fas fa-star"></i>
                 </span>
               
                  (<a href="<%= article_comments_path(article)%>", class="coloravis">
                  <%= pluralize(article.comments.count, "Avi") %>
                  </a>)
                </p>
              </div>
            </div>
          </div>
        <%end%>
      <%end%>
    </div>
  </div>
</div>
  <!-- fin article  -->

  <!-- debut slider  -->
    <div style="background-color: rgb(10, 10, 10); margin-bottom:80px;">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "1.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "2.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "3.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "4.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "5.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "6.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "7.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "8.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "9.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "10.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "11.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "12.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "13.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "14.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "15.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "16.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "17.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "18.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "19.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "20.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "21.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "22.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "23.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "24.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "25.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "26.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "27.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "28.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "29.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "30.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "31.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "32.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "33.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "34.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "35.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "36.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "37.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "38.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "39.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "40.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "41.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "42.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "43.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "44.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "45.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "46.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "47.jpg", class:"imagcont" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imagbox">
              <%= image_tag "48.jpg", class:"imagcont" %>
            </div>
          </div>
          
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
      <script>
        var swiper = new Swiper('.swiper-container', {
          effect: 'coverflow',
          grabCursor: true,
          centeredSlides: true,
          slidesPerView: 'auto',
          coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true,
          },
          pagination: {
            el: '.swiper-pagination',
          },
        });
      </script>
    </div>
  <!-- fin slider -->
  
  <!-- debut produit -->
<section>  
  <div>
    <h2 class="center">Nos produits phare </h2>
  </div>
  <div class="container-img">
    <div class="cardimg">  
      <div class="imagbx">
        <%= image_tag "brose.jpg", class:"imgtail" %>
      </div>
      <div class="details">
        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor sed consectetur voluptatem mollitia, commodi tempore placeat in fugit pariatur aut itaque blanditiis earum eaque velit animi delectus cupiditate ab aliquam! </p>
      </div>
    </div>
    <div class="cardimg">
      <div class="imagbx">
        <%= image_tag "brose.jpg", class:"imgtail"  %>
      </div>
      <div class="details">
        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor sed consectetur voluptatem mollitia, commodi
          tempore placeat in fugit pariatur aut itaque blanditiis earum eaque velit animi delectus cupiditate ab aliquam!
        </p>
      </div>
    </div>
    <div class="cardimg">
      <div class="imagbx">
        <%= image_tag "brose.jpg", class:"imgtail"  %>
      </div>
      <div class="details">
        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor sed consectetur voluptatem mollitia, commodi
          tempore placeat in fugit pariatur aut itaque blanditiis earum eaque velit animi delectus cupiditate ab aliquam!
        </p>
      </div>
    </div>
    <div class="cardimg">
      <div class="imagbx">
        <%= image_tag "brose.jpg", class:"imgtail"  %>
      </div>
      <div class="details">
        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor sed consectetur voluptatem mollitia, commodi
          tempore placeat in fugit pariatur aut itaque blanditiis earum eaque velit animi delectus cupiditate ab aliquam!
        </p>
      </div>
    </div>
    <div class="cardimg">
      <div class="imagbx">
        <%= image_tag "brose.jpg", class:"imgtail"  %>
      </div>
      <div class="details">
        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor sed consectetur voluptatem mollitia, commodi
          tempore placeat in fugit pariatur aut itaque blanditiis earum eaque velit animi delectus cupiditate ab aliquam!
        </p>
      </div>
    </div>
    <div class="cardimg">
      <div class="imagbx">
        <%= image_tag "brose.jpg", class:"imgtail"  %>
      </div>
      <div class="details">
        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor sed consectetur voluptatem mollitia, commodi
          tempore placeat in fugit pariatur aut itaque blanditiis earum eaque velit animi delectus cupiditate ab aliquam!
        </p>
      </div>
    </div>
  </div>
</section>
  <!-- fin produit -->

     
  <div class="container">
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span>
        </h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
          semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
          commodo.</p>
      </div>
      <div class="col-md-5">
        <!-- <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto"
          alt="Generic placeholder image"> -->
          <%= image_tag ("curcuma.png"), class:"featurette-image img-fluid mx-auto"%>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
          semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
          commodo.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <!-- <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto"
          alt="Generic placeholder image"> -->
          <%= image_tag ("baobab.png"), class:"featurette-image img-fluid mx-auto"%>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
          semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
          commodo.</p>
      </div>
      <div class="col-md-5">
        <!-- <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto"
          alt="Generic placeholder image"> -->
          <%= image_tag ("gingembre.png"), class:"featurette-image img-fluid mx-auto"%>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
 
</main>

<div id='post-content'></div>