
<!-- <div class="container">
  <h2>Vrac</h2>
  <div class="row">
    <%@product.each do |product|%>
      <% if product.type.content == "Vrac" %>
          <div class="col-lg-4">
            <%= image_tag (product.article.image_url), class:"rounded-circle tailimgmanager"%>
            <h2><%= product.type.content%></h2>
            <%= link_to 'View post', product_path(product.id) %> /
            <%= link_to 'View Article', article_path(product.article_id) %> </br>

            <% if current_user %>
            <% pre_like = product.likes.find { |like| like.user_id == current_user.id} %>
            <% if pre_like %>
            <%= link_to '', product_like_path(product, pre_like), method: :delete, class:"fas fa-heart zomm" %>
            <% else %>
            <%= link_to'', product_likes_path(product), method: :post, class:"far fa-heart zomm" %>
            <% end %>
            <% end %>
            <div class="d-flex">
              <div>
                <p class="btn btn-outline like-view"><%= product.likes.count %> <i class="fas fa-heart"></i></p>
              </div>
              <div>
                <%= button_to line_items_path(product_id: product.id),class:"btn btn-outline-primary" do %>
                <i class="fas fa-shopping-basket"></i>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>

<br>
<hr>
<br>
    <h2>Doypack</h2>
   <div class="row">
     <%@product.each do |product|%>
     <% if product.type.content == "Doypack" %>
     <div class="col-lg-4">
       <%= image_tag (product.article.image_url), class:"rounded-circle tailimgmanager"%>
       <h2><%= product.type.content%></h2>
       <%= link_to 'View post', product_path(product.id) %> /
       <%= link_to 'View Article', article_path(product.article_id) %> </br>

       <% if current_user %>
       <% pre_like = product.likes.find { |like| like.user_id == current_user.id} %>
       <% if pre_like %>
       <%= link_to '', product_like_path(product, pre_like), method: :delete, class:"fas fa-heart zomm" %>
       <% else %>
       <%= link_to'', product_likes_path(product), method: :post, class:"far fa-heart zomm" %>
       <% end %>
       <% end %>
      <div class="d-flex">
        <div>
          <p class="btn btn-outline like-view"><%= product.likes.count %> <i class="fas fa-heart"></i></p>
        </div>
        <div>
          <%= button_to line_items_path(product_id: product.id),class:"btn btn-outline-primary" do %>
          <i class="fas fa-shopping-basket"></i>
          <% end %>
        </div>
      </div>
       
       


     </div>
     <% end %>
     <% end %>
   </div>
     <hr>
     <%= link_to "retour page d'accueil ", root_path %>
     <hr>
</div> -->

<section>
  <div>
    <h2 class="center">Nos produits phare </h2>
  </div>
  <div class="container-img">
    <%@product.each do |product|%>
    <div class="cardimg">
      <div class="imagbx">
        <%= image_tag (product.article.image_url), class:"imgtail" %>
      </div>
      <div class="details">
        <h2><%= product.type.content%></h2>
       
        (<%= product.likes.count %>)
         <% if current_user %>
         <% pre_like = product.likes.find { |like| like.user_id == current_user.id} %>

         <% if pre_like %>
         <%= link_to '', product_like_path(product, pre_like), method: :delete, class:"far fa-thumbs-down zomm" %>
         <% else %>
         <%= link_to'', product_likes_path(product), method: :post, class:"far fa-thumbs-up zomm" %>
         <% end %>
         <% else %>
          <i class="far fa-thumbs-up"></i>
         <% end %>
        

        <p class="listprod"><%=product.article.title%></p>
        <%if product.type.content == "Vrac" %>
        <p class="listprod"><%= product.price%> euros/kg</p>
        <%else%>
        <p class="listprod"><%= product.price%> euros/unité</p>
        <%end%>
          <%if  product.disponibility == true %>
          <p class="listprod listcol">Disponible immédiatement </p>
          <%else%>
          <p class="listprod listcol">Non disponible pour le moment </p>
          <%end%>

          <div class="shopcart">
            <%= button_to line_items_path(product_id: product.id),class:"btn btn-warning" do %>
            <i class="fas fa-shopping-basket"></i>
            <% end %>
            <%= link_to 'View Article', article_path(product.article_id) %> </br>

          </div>
      </div>
    </div>
    <% end %>
  </div>  
</section>
 <hr>
 <%= link_to "retour page d'accueil ", root_path %>
 <hr>