<nav class="navbar navbar-expand-lg navbar-dark static-top sticky-top colnav">
  <div class="container">
    <div class="divmada">
       <%= image_tag ("mada.png"), class:"sizemada"%>
    </div>
  <div class="logo">
    <a href="/">
          <%# <img src="http://placehold.it/150x50?text=Logo" alt=""> %>
      <%= image_tag ("logo.png"), class:"sizelogo"%>
    </a>
  </div>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Accueil
            <span class="sr-only">(current)</span>
          </a>
        </li>
          <% if manager_signed_in?%>
            <li class="nav-item">
              <a class="nav-link" href="/products/new">Créer produit</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/types/new">Créer type</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/articles/new">Créer articles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/managers/sign_out" data-method="delete">Se deconnecter</a>
            </li>
          <%end%>
          <% if user_signed_in?%>
            <li class="nav-item">
              <a class="nav-link" href="/users/sign_out" data-method = "delete">Se deconnecter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/<%= current_user.id%>">Mon profil</a>
            </li>
          <%else%>
            <% if current_manager%>

            <%else%>
              <li class="nav-item">
                <a class="nav-link" href="/users/sign_up">S'inscrire</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/sign_in">Se connecter</a>
              </li>
           <%end%>
          <%end%>
      </ul>
    
      <div class="panier">
        <% if user_signed_in?%>
          <% if current_user.cart == nil %>
          <a href="/orders/new"> <%= image_tag ('harona.png'), class:"harona" %> <span
              class="count">(0)</span><%= params[:notice] %></a>
          <%else%>
          <a href="/carts/<%= current_user.cart.id%>"> <%= image_tag ('harona.png'), class:"harona" %> <span class="count">
              (<%= current_user.cart.line_items.count%>)</span> </a>
          <%end%>
        <%else%>
          <a href="/users/sign_up"> <%= image_tag ('harona.png'), class:"harona" %> <span class="count">(0)</span> </a>
        <%end%>
      </div>

      <div>
        <%= form_tag(search_page_path, :method => "get",   
      class: 'navbar-form navbar-left') do %>
        <div class="input-group">
          <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
          <div class="input-group-btn">
            <%= button_tag "", :class => 'h-100 btn btn-secondary fa fa-search',:name => nil%>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>